* {
    cursor: url("images/cursor.png"), auto;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background: #dddddd;
    word-break: normal;
}

header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: normal;
}

.coat-of-arms {
    width: 10%;
    animation: 3s infinite;
    animation-name: shake-coat-of-arms;
    word-break: normal;
}

.header-image {
    box-sizing: border-box;
    max-width: 100%;
    word-break: normal;
}

.embed-video  {
    max-width: 30%;
}

.standard-section{
    max-width: 37%;
    height: auto;
}

.second-standard-section {
    max-width: 50%;
    height: auto;
}

.third-standard-section {
    max-width: 63%;
    height: auto;
}

@keyframes shake-coat-of-arms {
    20% {
        transform: rotate(55deg);
    }
    50% {
        transform: rotate(33deg);
        transform: scale(0.5)
    }
    80% {
        transform: rotate(-17deg);
    }
    100% {
        transform: rotate(47);
    }
}

@media screen and (max-width: 760px ){
    
    .coat-of-arms{
        display: none;
    }
    
    header{
        align-content: center;
    }
}
