* {
    padding: 0;
    margin: 0;
    border: 1px solid #d67900;
}

body {
    background-color: #fff8ee;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    font-size: 1rem;
    color: #1c1915;
}

.logo-profeta {
    display: none;
}

.primeira-chamada {
    display: flex;
}