* {
    padding: 0;
    margin: 0;
    cursor: url("../imagem/vara.png"), auto;
}

body {
    background-color: #fff8ee;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    font-size: 1rem;
    color: #1c1915;
    width: 1024px;
}

.logo-profeta {
    animation-name: descerLogo;
    width: 115px;
    position: absolute;
    left: 210px;
    top: 58px;
    padding: 0 0.5em;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0, -0.57, 0, 1.66);
    animation-fill-mode: both;
}

@keyframes descerLogo {
    20% {
        transform: translate(0, -120%) rotate(45deg);
        visibility: visible;
    }
    50% {
        transform: translate(-40%, -80%) rotate(33deg);
    }
    80% {
        transform: translate(20%, -40%) rotate(-17deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.primeira-chamada {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 5.5em;
    padding: 15px;
}

.sensacional {
    background-color: black;
    color: white;
    padding: 5px;
    margin: auto;
}

.primeira-coluna {
    font-size: 0.8em;
    padding: 15px;
}

.segunda-coluna {
    font-size: 0.5em;
    padding: 15px;
}

.estrela {
    animation: estrelinha 4s linear infinite;
    animation-direction: alternate;
    width: 115px;
    position: absolute;
    left: 210px;
    animation-delay: 3s;
}

.estrela:hover {
    animation-name: estrelinha;
    animation-play-state: paused;
}

@keyframes estrelinha {
    20% {
        transform: rotate(0deg);
        margin-left: 0px;
    }
    50% {
        transform: translate(-40%, -80%) rotate(33deg);
        margin-top: 0%;
    }
    80% {
        transform: translate(20%, -40%) rotate(-17deg);
    }
    100% {
        transform: rotate(360deg);
        margin-left: 900px;
    }
}

.noticiabruxo {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    font-size: 0.4em;
    padding: 15px;
}

.fofoca1 {
    padding: 15px;
}

.biografia {
    padding: 15px;
}

.empregos {
    padding: 15px;
    border: 1px solid black;
    font-size: 0.7em;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.rodape {
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 15px;
}