/* General Propriets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    background-color: #FFF8EE;
}


/* Standard Propriets */

.flex {
    display: flex;
}

.full-box {
    width: 100%;
}


/* Especifiq Propriets */

header>h1 {
    display: none;
}

@media screen and (max-width: 376px) {
    header {
        height: 80px;
    }
}