* {
    margin: 0px;
    padding: 0px;
    cursor: url('Group\ \(1\).png'),auto;
}

article {
    margin: 5%;
    text-align: justify;
    border: solid 1px black;
    padding-bottom: 10px;
}
img {
    width: 100%;
    
}
#coruja {
    animation-name: coruja-voando;
    animation-delay: 3s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-duration: 5s;
    width: 100px;
    height: 100px;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    display: none;
}
#coruja:hover {
    animation-play-state: paused;
}
h1{
    font-size: 8mm;
}
h1, p {
    width: 100%;
    margin-top: 30px;
    animation-name: texto;
    animation-duration: 4s;
    margin-left: 5%;
}

#primeira-parte {
    display: flex;
    flex-direction: row; 
}
#segunda-parte {
    display: flex;
    flex-direction: row; 
}
#reação-química {
    width: 400px;
    height: 400px;
    margin-left: 10%;
    display: none;
}
#anuncio {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 5%;
}
.nimbus {
    animation-duration: 10s;
    transition: 1s;
    animation-name: vassoura;

}
#nimbus {
    transform: rotate(20deg);
    animation-name: vassoura;
    width: 20%;
    height: 20%;
}
nav {
    display: flex;
    margin-left: 10%;
}
footer {
    background-color: black;
    width: 100%;
    height: 10vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 760px) {
    img {
        width: 760px;
    }
    header {
        display: flex;
        justify-content: center;
    }
    p {
        width: 30%;
    }
    #nimbus {
        display: initial;
    }
    #coruja {
        display: initial;
    }
    #reação-química {
        display: initial;
    }
    footer {
         display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 380px) {
    #segunda-parte {
        flex-direction: column; 
    } 
    #anuncio {
        flex-direction: column;
    }
}
@keyframes coruja-voando {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 90%;
    }
}

@keyframes vassoura {
    0% {
        transform: scale(1.0)
    }
    100% {
        transform: scale(1.5)
    }
}
