.main-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    text-align: justify;
}

.navigation {
    display: none;
}

img {
    display: none;
}

.first-article-title {
    font-size: 200%;
    margin: auto;
}

.article-in-column {
    display: flex;
    flex-flow: column wrap;
    margin: 30px;
}

.footer, .footer p {
    margin: 0;
}

.fourth-article-title {
    margin: auto;
}
