* {
    margin: 0;
}

#main-title {
    text-align: center;
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
}

#main-subtitle {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 0px 50px;
}
