body {
    font-family: 'Modern Antiqua', cursive;
    background-image: url(images/colored_vintage_paper_texture_10_light_yellow.jpg);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4em;
}

.owl {
    max-width: 100px;
    opacity: 0;
}

@keyframes moviment {
    0% {
        transform: translate(0px,0px)
    }
    5% {
        transform: translate(240px, 30px);
    }
    10% {
        opacity: 1;
        transform: translate(500px, 0px)
    }
    20% {
        transform: translate(500px, 140px)
    }
    30% {
        transform: translate(0px,0px)
    }
    40% {
        transform: translate(500px, 140px)
    }
    50% {
        transform: translate(500px, 0px)
    }
    60% {
        transform: translate(240px, 30px);
    }
    70% {
        transform: translate(0px,0px)
    }
    80% {
        transform: translate(240px, 30px);
    }
    90% {
        transform: translate(500px, 0px)
    }
    95% {
        transform: translate(500px, 140px)
    }
    100% {
        transform: translate(0px,0px)
    }
}
    

.owl.animation-appears {
    max-width: 100px;
    opacity: 1 !important;
    animation: moviment 6s normal ease-in;
}

.owl.animation-appears:hover {
    animation-play-state: paused;
}

p {
    margin-top:5px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main article {
    display: flex;
    flex-direction: column;
}

article section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 2px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 3px solid black;
    border-radius: 15px;
}

.video {
    max-width: 100%;
}

article section h2 { 
    margin-top: 35px;
    display: flex;
}

.dingbait {
    max-width: 50px;
    align-self: baseline;
}

.broom {
    max-height: 200px;
}

.banner-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes broom {
    20% {
        transform: scale(2) rotate(360deg);
    }
    40% {
        transform: scale(2) translateX(100px) translateY(-100px) ;
    }
    80% {
        transform: scale(2) translateX(100px) translateY(-100px) skew(160deg) ;
    }
    100% {
        transform: scale(2)  skew(160deg) translateX(1000px) translateY(-1000px) ;
    }
}


@media screen and (min-width: 760px) {
    
    .main article {
        display: flex;
        flex-direction: row;
    }
    
    article section {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
    }

    .main article:nth-child(1) > section:nth-child(1) {
        flex-basis: 40%;
    }

    .main article:nth-child(2) > section:nth-child(1) {
        flex-basis: 60%;
    }

    .main article:nth-child(3) > section:nth-child(1) {
        flex-basis: 40%;
    }
}